.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.has-padding-top-mid {
    padding-top: 15%;
}

.has-padding-top-sml {
    padding-top: 10%;
}

.has-padding-top-xsml {
    padding-top: 5%;
}

.info-text {
    text-align: justify;
    line-height: 2em;
}

.header-initials {
    align-items: center;
    border-radius: 50%;
    border-style: double;
    border-width: thick;
    color: #09234c;
    display: inline-flex;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 4em;
    justify-content: center;
    min-width: 2.5em;
    min-height: 2.5em;
    vertical-align: middle;

    animation: jump 3s ease 0s infinite normal ;
}

.social-icons {
    min-height: 1em;
    padding: .5em .5em;
    width: 1em;
}

.social-links {
    clear: both;
}

.nav-links {
    border-left: double;
    font-size: x-small;
    margin-top: 3%;
    margin-left: 3%;
}

.nav-links-item-first {
    letter-spacing: 0.3em;
    padding-bottom: 1%;
    padding-left: 1%;

    animation: blinker 3s linear infinite;
}

.nav-links-item-second {
    letter-spacing: 0.3em;
    padding-bottom: 1%;
    padding-left: 1%;

    animation: blinker 3s linear infinite;
}

.nav-links-item-last {
    letter-spacing: 0.3em;
    padding-left: 1%;

    animation: blinker 5s linear infinite;
}

.key-skills {
    float: left;
    font-size: larger;
    width: 35%;
    position: relative;
    overflow: hidden;
    padding-left: 10em;
}

.key-skills-title {
    font-size: x-large;

    animation: colorchange 20s infinite alternate;
}

.key-skills-lists {
    list-style-type: none;
    letter-spacing: 0.3em;
    padding-left: 1em;
    border-left: double;
}

.key-skills-lists li {
    padding-bottom: 1em;
    width: 32%;

    animation: shake 20s infinite alternate;
}

.intro {
    float: left;
    width: 46%;
    position: relative;
    overflow: hidden;
    padding-left: 8em;
}

#about {
    text-align: justify;
    font-size: smaller;
    padding-top: 3%;
}

a {
    color: #2d687f;
    text-decoration: none;
}

body {
    background: url("../images/crossword.png") repeat;
    color: #09234c;
    font-family: "Roboto Mono", monospace;
}

@keyframes jump {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-15px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes blinker {
    50% { opacity: 0; }
}

@keyframes colorchange {
    0% {

        color: black;
    }

    10% {

        color: #8e44ad;
    }

    20% {

        color: #1abc9c;
    }

    30% {

        color: #d35400;
    }

    40% {

        color: black;
    }

    50% {

        color: #34495e;
    }

    60% {

        color: black;
    }

    70% {

        color: #2980b9;
    }
    80% {

        color: #f1c40f;
    }

    90% {

        color: #2980b9;
    }

    100% {

        color: pink;
    }
}

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}