.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.has-padding-top-mid {
    padding-top: 15%;
}

.has-padding-top-sml {
    padding-top: 10%;
}

.has-padding-top-xsml {
    padding-top: 5%;
}

.info-text {
    text-align: center;
    line-height: 2em;
}

.header-initials {
    align-items: center;
    border-radius: 50%;
    border-style: double;
    border-width: thick;
    color: #09234c;
    display: inline-flex;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 4em;
    justify-content: center;
    min-width: 2.5em;
    min-height: 2.5em;
    vertical-align: middle;
    margin-top: 1%;

    animation: jump 4s ease 0s normal ;
}

.social-icons {
    padding: .5em .5em;
    width: 1em;
}

.social-links {
    clear: both;
}

.nav-links {
    border-left: double;
    font-size: x-small;
    margin-top: 3%;
    margin-left: 3%;
}

.nav-links a {
    text-decoration: overline;
    color: #34495e
}

.nav-links-item-first {
    letter-spacing: 0.3em;
    padding-bottom: 1%;
    padding-left: 1%;
}

.nav-links-item-second {
    letter-spacing: 0.3em;
    padding-bottom: 1%;
    padding-left: 1%;
}

.nav-links-item-last {
    letter-spacing: 0.3em;
    padding-left: 1%;
}

.key-skills {
    padding-bottom: 2%;
    border-bottom: black;
    border-bottom-style: double;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2%;
}

.key-skills-lists {
    list-style-type: none;
    letter-spacing: 0.3em;
    padding-left: 1em;
    border-left: double;
}

.key-skills-lists li {
    padding-bottom: 1em;
    width: 32%;
}

.intro {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
    padding-left: 15%;
}

.project-description {
    border-right: double;
    float: left;
    width: 46%;
    position: relative;
    overflow: hidden;
    padding-left: 8em;
    padding-right: 3em;
}

.project-title {
    float: left;
    font-size: larger;
    width: 21%;
    position: relative;
    overflow: hidden;
    padding-left: 2%;
    text-align: left;
}

.project-item {
    padding-left: 10%;
}

.tag-green {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 15px;
  position: relative;
  content: "";
  cursor: pointer;
  margin: 0px 13px 0 0;
  padding: 4px 28px 10px 20px;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  font: normal 10px/24px "Antic", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #1a93bc85;
  -webkit-box-shadow: -3px 5px 0 0 #1676a09c;
  box-shadow: -3px 5px 0 0 #1676a09c;
}

#about {
    text-align: center;
    font-size: small;
    padding-top: 3%;
}

a {
    color: #2d687f;
    text-decoration: none;
}

body {
    background: url("../images/background-cement-concrete.jpg") repeat;
    background-size: cover;
    color: #09234c;
    font-family: "Roboto Mono", monospace;
}

@keyframes jump {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-15px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes blinker {
    50% { opacity: 0; }
}

@keyframes colorchange {
    0% {

        color: black;
    }

    10% {

        color: #8e44ad;
    }

    20% {

        color: #1abc9c;
    }

    30% {

        color: #d35400;
    }

    40% {

        color: black;
    }

    50% {

        color: #34495e;
    }

    60% {

        color: black;
    }

    70% {

        color: #2980b9;
    }
    80% {

        color: #f1c40f;
    }

    90% {

        color: #2980b9;
    }

    100% {

        color: pink;
    }
}

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}